<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="lib/angular.js"></script>
    <script src="lib/angular-animate.js"></script>
    <script src="app.js"></script>
    <script src="js/foodcartsController.js"></script>
    <title>Food Carts!</title>
  </head>
  <body ng-app="foodcartRoster">
    <div class="container" ng-controller="FoodCartsCtrl">
      <div class="corner">
        <span class ="glyphicon glyphicon-search" ng-mouseover="searching = true"></span>
        <form class="form-inline" role="form" ng-show="searching">
          <div class="form-group has-feedback">
            <input type="text" ng-mouseover="searching = true" ng-mouseleave="searching = false" ng-model="query" ng-model-options="{ getterSetter: true }" class="form-control" placeholder="Search">
            <a class="clear" ng-click="query = null">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
        </form>
      </div>
      <div class="corner add">
        <span ng-click="add = !add"><i class="fa fa-truck"></i></span>
      </div>

      <div class="row addForm" ng-show="add">
        <div class="col-md-12">
        <h1><strong>New Food Cart</strong></h1>
          <form ng-submit="addCart()" class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="foodCartName" class="form-control" placeholder="Enter name" required/>
            </div>
            <div class="form-group">
              <input type="text" ng-model="foodCartLocation" class="form-control" placeholder="Enter location" required/>
            </div>
            <div class="form-group">
              <input type="text" ng-model="foodCartType" class="form-control" placeholder="Enter type" required/>
            </div>
            <div class="form-group">
              <select ng-init="foodCartPrice='Moderate'" ng-model="foodCartPrice" class="form-control" required/>
                <option value="Cheap">Cheap</option>
                <option value="Moderate">Moderate</option>
                <option value="Pricey">Pricey</option>
              </select>
            </div>
            <button type="submit" ng-click="add = false" class="btn btn-primary">Submit</button>
          </div>
      </div>

      <div class="row" ng-show="searching">
        <div class="col-md-12">
          <h1>Searching for: <span ng-bind="query"></span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1 ng-show="foodcarts.length && filtered.length"><strong>Food Cart List</strong></h1>
          <h1 ng-show="foodcarts.length && !filtered.length">No Matches</h1>
            <table class="foodCarts" ng-show="foodcarts.length && filtered.length">
              <tr>
                <th> <a href="" ng-click="predicate = 'name'; reverse = !reverse" >Name</a></th>
                <th><a href="" ng-click="predicate = 'location'; reverse = !reverse" >Location</a></th>
                <th><a href="" ng-click="predicate = 'type'; reverse = !reverse" >Type</a></th>
                <th><a href="" ng-click="predicate = 'pricerange'; reverse = !reverse" >Price Range</a></th>
              </tr>
                <tr class="animate-repeat" ng-repeat= "item in filtered = (foodcarts | filter:query | orderBy:predicate:reverse)">
                  <span ng-submit="editing = false" class="form-group">
                  <td>
                    <span ng-click="editing = true" ng-hide="editing">
                      {{item.name}}
                    </span>
                    <span ng-show="editing">
                      <form role="form">
                      <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
                    </span>
                  </td>
                  <td>
                    <span ng-click="editing = true" ng-hide="editing">
                      {{item.location}}
                    </span>
                    <span ng-show="editing">
                      <input type="text" class="form-control input-sm" ng-model="item.location" placeholder="Location" required/>
                    </span>
                  </td>
                  <td>
                    <span ng-click="editing = true" ng-hide="editing">
                      {{item.type}}
                    </span>
                    <span ng-show="editing">
                      <input type="text" class="form-control input-sm" ng-model="item.type" placeholder="Type" required/>
                    </span>
                  </td>
                  <td>
                    <span ng-click="editing = true" ng-hide="editing">
                      {{item.pricerange}}
                    </span>
                    <span ng-show="editing">
                      <select ng-model="item.pricerange" class="form-control">
                        <option value="Cheap">Cheap</option>
                        <option value="Moderate">Moderate</option>
                        <option value="Pricey">Pricey</option>
                      </select>
                    </span>
                  </td>
                  <td ng-show="editing">
                    <span>
                      <button class="btn btn-success btn-sm" type="submit" ng-click="editing = false">Save</button>
                      </form>
                    </span>
                  </td>
                  <td ng-show="editing">
                    <span>
                      <a ng-click="deleteFoodCart(item)" class="btn btn-danger btn-sm">Delete</a>
                    </span>
                  </td>
                </span>
                </tr>
            </table>
          </div>
    </div>
  </body>
</html>
