<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/foodcartsController.js"></script>
    <title>Food Carts!</title>
  </head>
  <body ng-app="foodcartRoster">
    <div class="container" ng-controller="FoodCartsCtrl">
      <div class="row">
        <div class="col-md-12">
          <h4> Search Food Carts </h4>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="query" class="form-control" placeholder="Search">
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h1 ng-show="foodcarts.length && filtered.length">Food Cart List</h1>
          <h1 ng-show="foodcarts.length && !filtered.length">No Matches</h1>
            <ul>
              <li ng-repeat= "item in filtered = (foodcarts | filter:query)">
                <span ng-click="editing = true" ng-hide="editing">
                  <strong>{{item.name}}</strong> {{item.location}} {{item.type}} {{item.pricerange}} <a ng-click="deleteFoodCart(item)">Delete</a>
                </span>
                <span class="form-group" ng-show="editing" ng-submit="editing = false">
                  <form class="form-inline" role="form">
                    <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
                    <input type="text" class="form-control input-sm" ng-model="item.location" placeholder="Location" required/>
                    <input type="text" class="form-control input-sm" ng-model="item.type" placeholder="Type" required/>
                    <input type="text" class="form-control input-sm" ng-model="item.pricerange" placeholder="Price range" required/>
                    <button class="btn btn-default btn-sm" type="submit">Save</button>
                  </form>
                </span>
              </li>
            </ul>
          </div>
      <div class="col-md-6">
        <h2>New Food Cart</h2>
          <form ng-submit="addCart()" class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="foodCartName" class="form-control" placeholder="Enter name">
            </div>
            <div class="form-group">
              <input type="text" ng-model="foodCartLocation" class="form-control" placeholder="Enter location">
            </div>
            <div class="form-group">
              <input type="text" ng-model="foodCartType" class="form-control" placeholder="Enter type">
            </div>
            <div class="form-group">
              <input type="text" ng-model="foodCartPrice" class="form-control" placeholder="Enter price">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </body>
</html>
